<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @movie.trailer %>
</p>

<p>
  <strong>Released on:</strong>
  <%= @movie.released_on %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @movie.poster %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre.name %>
</p>

<h2>Star Rating and comment:</h2>
	<%=form_for([@movie, Comment.new]) do |f|%>
	
		<h3><%=f.label :stars%>
			<% stars =[1,2,3,4,5]%>
			<% stars.each do |star|%>
				<%=f.radio_button :stars, star %><%= star%>
			<%end%>
		</h3></br>
		<%= f.text_area :content, :rows => 4, :cols => 40%>
		<div class ="actions">
			<%=f.submit "Post a comment"%>
		</div>
	<%end%>
	
<% if @movie.comments.empty? %>
	<h3>You are the first to comment</h3>
<%else%>
	<h2>What others felt about this</h2>
	<%@movie.comments.reverse.each do |comment| %>
		<p><%= comment.content %>
		Posted <%=time_ago_in_words(comment.created_at) %> ago by
		<%=comment.user.name%></p>
	<%end%>
	<h3>Star Rating</h3>
	<p>
		<%=number_with_precision(@movie.average_stars, precision:0)%>
	</p>
<%end%>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
